<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="max-w-screen-lg text-gray-500 sm:text-lg">
			<h1 class="mb-4 font-medium font-light">
				<%= site.data.homepage.title %>
			</h1>
			<h2
				class="mb-4 font-[Meritocracy] text-6xl tracking-tight text-gill-green-400"
			>
				<%= site.data.homepage.tagline %>
			</h2>
			<p class="mb-4 font-light"><%= site.data.homepage.intro %></p>

			<a
				href="/melbourne-lifestyle-photographer"
				class="inline-flex items-center font-medium text-primary-600 hover:text-yellow-800"
			>
				Learn more
				<svg
					class="ml-1 w-6 h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
						clip-rule="evenodd"
					></path>
				</svg>
			</a>
		</div>
	</div>
</section>
