<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="max-w-screen-lg text-gray-500 sm:text-lg">
			<h1 class="mb-4 font-medium font-light">
				<%= site.data.homepage.title %>
			</h1>
			<h2
				class="mb-4 font-[Meritocracy] text-6xl tracking-tight text-gill-green-400"
			>
				<%= site.data.homepage.tagline %>
			</h2>

			<p class="mb-4 font-light"><%= site.data.homepage.intro %></p>

			<a
				href="/melbourne-lifestyle-photographer"
				class="inline-flex items-center px-6 py-3 text-sm font-medium text-gill-green-600 bg-white border border-gill-green-600 rounded-md hover:bg-gill-green-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gill-green-500 transition-colors duration-200"
			>
				Learn More About Gill
			</a>
			<a
				href="/book-lifestyle-photographer-in-melbourne"
				class="inline-flex items-center px-6 py-3 text-sm font-medium text-white bg-gill-green-600 border border-transparent rounded-md shadow-sm hover:bg-gill-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gill-green-500 transition-colors duration-200"
			>
				Get in Touch
			</a>
		</div>
	</div>
</section>
