<aside class="bg-white">
	<div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-8">
		<h3
			class="text-2xl font-extrabold leading-none text-gray-900 md:text-3xl my-8 text-center"
		>
			Recent shoots in Melbourne
		</h3>
		<div class="swiper latest-projects">
			<!-- prettier-ignore -->
			<% 
			// Get the latest 5 work posts
			var latestPosts = site.posts.filter(function(post) {
				return post.layout === 'work';
			}).slice(0, 5);
			%>

			<div class="swiper-wrapper">
				<% latestPosts.forEach(function(post) { %>
				<div class="swiper-slide">
					<%- include('../category/category-card.ejs', { post: post }) %>
				</div>
				<% }); %>
			</div>
		</div>
	</div>

	<script>
		var latestProjectsSwiper = new Swiper(".latest-projects", {
			slidesPerView: 2,
			spaceBetween: 30,
			loop: true,
			speed: 1500,
			autoplay: {
				delay: 1000,
				pauseOnMouseEnter: true,
			},
			breakpoints: {
				320: {
					slidesPerView: 1,
				},
				768: {
					slidesPerView: 2,
				},
				1024: {
					slidesPerView: 2,
				},
				1280: {
					slidesPerView: 2,
				},
			},
		});
	</script>
</aside>
