<!-- About page content to be reworked -->
<section class="py-16 bg-white">
	<div class="container mx-auto px-4">
		<h1 class="text-4xl font-light mb-8 text-center">About</h1>
		<div class="max-w-2xl mx-auto text-center text-gray-700">
			<p>
				This page is being updated. Please check back soon for more information
				about Gill Juergens Photography.
			</p>
		</div>
	</div>
</section>
